.profile{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    min-height: 700px !important;
}

.profile-name{
    line-height: 18px;
    padding: 20px;
    color: #111;
}

.profile-name .name{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.profile-name .title{
    font-size: 13px;
    color: #111;
}

.profile-image{
    margin-top: -10px;
    /* -webkit-clip-path: polygon (0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%,100% 0, 100% 94%, 0% 100%); */
    text-align: center;
}

.profile-image img{
    width: 90%;
    border-radius: 10px;
}

.profile-information{
    top: 0px;
    left: 0px;
    margin: -40px 10px 30px;
}

.profile-information .timeline-content{
    margin-top: 2px;
    margin-bottom: 10px;
}

.timelineItem-text{
    font-size: 14px !important;
    color: #777 !important;
    font-weight: 400 !important;
    text-decoration: none !important;
}

.timelineItem-text > a{
    color: #777 !important;
    
}

.timelineItem-text > span{
    font-size: 14px ;
    color: #000;
    font-weight: 400;
}

.profile .button-container{
width: 100%;
display: flex;
justify-content: center;
margin-top: 40px;
}